{% extends "layout.html" %}
{% block body %}
<h1>リボ払い怖いよシミュレーション</h1>
<h3>※年利15%, 毎月の返済元本（元金）が均等の返済方式としています</h3>
<hr>
<form class="pure-form pure-form-aligned" method="post" action="/result">
  <fieldset>
    <div class="pure-control-group">
      <label for="borrowing">利用予定金額（円）</label>
      <input name="borrowing" type="text" placeholder="（例）50,000">
    </div>

    <div class="pure-control-group">
      <label for="repayment">月々の返済額（円）</label>
      <input name="repayment" type="text" placeholder="（例）5,000">
    </div>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">計算する</button>
    </div>
  </fieldset>
</form>
{% endblock %}
