{% extends "layout.html" %}
{% block body %}
<h1>リボ払い怖いよシミュレーション</h1>
<h3>※年利は多くのクレジットカード会社と同じ15%としています</h3>
<hr>
<form class="pure-form pure-form-aligned" method="post" action="/result">
  <fieldset>
    <div class="pure-control-group">
      <label for="payment_type" class="pure-radio">
        返済方法
      </label>
      <input name="payment_type" type="radio" value="1" checked> 元利金等
      <input name="payment_type" type="radio" value="2"> 元金均等
      <span class="pure-form-message-inline"><a href="/explanation">返済方法について詳しく知る</a></span>
    </div>

    <div class="pure-control-group">
      <label for="borrowing">利用金額（円）</label>
      <input name="borrowing" type="text" placeholder="（例）50,000">
    </div>

    <div class="pure-control-group">
      <label for="repayment">月々の返済額（円）</label>
      <input name="repayment" type="text" placeholder="（例）5,000">
    </div>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">計算する</button>
    </div>
  </fieldset>
</form>
{% endblock %}
